{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}
{% block description %}Browse our portfolio to see other work we have completed for our valued clients.{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{% url 'allprojects' %}{% endblock %}
{% block ogimage %}{% endblock %}
{% block keywords %}ABC Elec portfolio projects electricians domestic commercial renovations electrical supplies tradesmen{% endblock %}
{% load static %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Portfolio</li>
        </ol>
        <h2>Portfolio</h2>
    </div>
</section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-filters">
                    <li data-filter="*" class="filter-active">All</li>
                    {% for projects_category in projects_category_list %}
                    <li data-filter=".filter-{{projects_category.category}}">{{projects_category.category}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.category}}">
                <div class="portfolio-wrap">
                    <img src="{{project.image.url}}" class="img-fluid" alt="{{project.image_caption}}">
                    <div class="portfolio-info">
                        <h4>{{project.project_title}}</h4>
                        <p>{{project.excerpt|truncatewords:10}}</p>
                        <div class="portfolio-links">
                            <a href="{{project.image.url}}" data-gall="portfolioGallery" class="venobox" title="{{project.project_title}}"><i class="bx bx-plus"></i></a>
                            <a href="{{project.get_absolute_url}}" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">
        <div class="section-title">
            <h2>Clients</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="owl-carousel clients-carousel">
            {% for client in clients %}
            <img src="{{client.image.url}}" alt="{{client.image_caption}}">
            {% endfor %}
        </div>
    </div>
</section>

</main>
{% endblock %}  