{% extends 'base.html' %}

{% block title %}{{post_categorylist.category}} Posts{% endblock %}
{% block description %}Browse our blog for the latest news from ABC Elec.{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{% url 'allposts' %}{% endblock %}
{% block ogimage %}{% endblock %}
{% block keywords %}ABC Elec blog electricians domestic commercial renovations electrical supplies tradesmen{% endblock %}
{% load static %}
{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'allposts' %}">Posts</a></li>
            </ol>
            <h2>{{post_categorylist.category}} Posts</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section =======
        used the boxicons? replaced with images-->
    <section id="services" class="services">
        <div class="container">

            <div class="row">
                {% for post in post_categorylist.posts %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <!--<div class="icon"><i class="bx bxl-dribbble"></i></div>-->
                        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.image_caption}}" />
                        <h4><a href="{{post.get_absolute_url}}">{{post.post_title}}</a></h4>
                        <p>{{post.excerpt|truncatewords:50}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
