{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}
{% block description %}These are ABC Elec's current service packages to save you money and give you peace of mind.{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{% url 'allpackages' %}{% endblock %}
{% block ogimage %}{% endblock %}
{% block keywords %}ABC Elec pricing service packages electricians domestic commercial renovations electrical supplies tradesmen{% endblock %}
{% load static %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Pricing</li>
            </ol>
            <h2>Pricing</h2>

        </div>
    </section>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row no-gutters">
                {% for package in packages %}
                <div class="col-lg-4 box {% if package.is_top_package == True %}featured{% endif %}">     
                    <h3>{{package.package_name}}</h3>
                    <h4>${{package.price}}<span>{{package.period}}</span></h4>
                    <ul>
                        {% for package_item in package.package_items.all %}
                        <li><i class="bx bx-check"></i><span>{{package_item.package_item}}</span></li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->

{% endblock %}  
