{% extends 'base.html' %}

{% block title %}{{service.service_name}}{% endblock %}
{% block description %}{{service.excerpt|truncatewords:50}}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogurl %}{{service.get_absolute_url}}{% endblock %}
{% block ogimage %}{{service.image.url}}{% endblock %}
{% block keywords %}{{service.tags}}{% endblock %}
{% load static %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'allservices' %}">Services</a></li>
            <li><a href="/services/{{service.category}}">{{service.category}} Services</a></li>
            <li>{{service.service_name}}</li>
        </ol>
        <h2>{{service.service_name}}</h2>

    </div>
</section><!-- End Breadcrumbs -->

    <!-- ======= Service Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 entries">
                <article class="entry entry-single">
                <div class="entry-img">
                    <img src="{{service.image.url}}" alt="{{service.image_caption}}" class="img-fluid">
                </div>
                <h2 class="entry-title">{{service.service_name}}</h2>

                <div class="entry-meta">
                    <ul>
                        <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> {{service.updated|date:"j M, Y"}}</li>
                    </ul>
                </div>

                <div class="entry-content">
                    <p>{{service.content|safe}}</p>
                </div>

                <div class="entry-footer clearfix">
                    <div class="float-left">
                        <i class="icofont-folder"></i>
                        <ul class="cats">
                            <li><a href="/services/{{service.category}}">{{service.category}}</a></li>
                        </ul>
                        <i class="icofont-tags"></i>
                        <ul class="tags">
                            {% for tag in service.tags.all %}
                                <li><a href="/tags/">{{tag}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="float-right share">
                        <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                        <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                        <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                    </div>

                </div>
                </article>
            </div><!-- End blog entries list -->

            <div class="col-lg-4">
                <div class="sidebar">
                    <h3 class="sidebar-title">Search</h3>
                    <div class="sidebar-item search-form">
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="icofont-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <h3 class="sidebar-title">All Categories</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            {% for all_category in all_category_list %}
                            <li><a href="/categories/">{{ all_category.category }}<span>(25)</span></a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- End sidebar categories-->

                    <h3 class="sidebar-title">Other Services</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="assets/img/blog-recent-1.jpg" alt="">
                            <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End sidebar recent posts-->

                    <h3 class="sidebar-title">All Tags</h3>
                    <div class="sidebar-item tags">
                        <ul>
                            {% for all_tag in all_tag_list %}
                                <li><a href="/tags/">{{ all_tag.tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- End sidebar tags-->
                </div><!-- End sidebar -->
            </div><!-- End blog sidebar -->
        </div>
    </div>
</section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}