{% extends 'base.html' %}

{% block title %}Our Team{% endblock %}
{% block description %}Meet our fantastic team at ABC Elec, your local electrical engineers for all domestic and commercial electrical applications.{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{% url 'team' %}{% endblock %}
{% block ogimage %}{% endblock %}
{% block keywords %}ABC Elec team electricians domestic commercial renovations electrical supplies tradesmen{% endblock %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Our Team</li>
        </ol>
        <h2>Our Team</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
            {% for employee in employees %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="{{employee.image.url}}" alt="{{employee.image_caption}}">
                    <h4>{{employee.full_name}}</h4>
                    <span>{{employee.job_title}}</span>
                    <p>{{employee.about|safe}}</p>
                    <div class="social">
                        <a href="{{employee.twitter}}"><i class="icofont-twitter"></i></a>
                        <a href="{{employee.facebook}}"><i class="icofont-facebook"></i></a>
                        <a href="{{employee.instagram}}"><i class="icofont-instagram"></i></a>
                        <a href="{{employee.linkedin}}"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

{% endblock %}  